.back{
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #ccc;
}
.content{
    width: 400px;
    height: 400px;
    background: #ccc;
    /* filter: contrast(20); */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: contrast(20);
}


.bubble{
    position: absolute;
    top: 30px;
    width: 100px;
    height: 140px;
    left: 50%;
    transform: translate(-50%);

}
.ring{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 5px;
    top: 5px;
    background: #fff;
    z-index: 1;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.bubble::after{
    content: '';
    background: red;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 10px 55px 100px 50px;
    animation: bubble 3s infinite linear;
    filter: blur(10px)
}
.bubble::before{
    content: '';
    background: red;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50px 55px 100px 100px;
    animation: bubble2 2s infinite linear;
    filter: blur(10px)
}


@keyframes bubble{
    0%{
        transform: rotate(0deg)
    }
    50%{
        border-radius: 10px 55px 100px 50px / 30px;
    }
    100%{
        transform: rotate(360deg)
    }
}
@keyframes bubble2{
    0%{
        transform: rotate(0deg)
    }
    50%{
        border-radius: 50px 55px 100px 100px / 30px;
    }
    100%{
        transform: rotate(360deg)
    }
}

.point{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: red;
    left: 50%;
    transform: translate(-50%);
    animation: point 1s infinite linear;
    filter: blur(10px);
}

.point2{
    width: 25px;
    height: 25px;
    transform: translate(-35px);
    animation: point 7s infinite linear;
}
.point3{
    width: 25px;
    height: 25px;
    transform: translate(-20px);
    animation: point 6s infinite linear;
}
.point4{
    width: 14px;
    height: 13px;
    transform: translate(-10px);
    animation: point 5s infinite linear;
}
.point5{
    width: 20px;
    height: 25px;
    transform: translate(30px);
    animation: point 4s infinite linear;
}
.point6{
    width: 3px;
    height: 35px;
    transform: translate(10px);
    animation: point 3s infinite linear;
}
.point7{
    width: 15px;
    height: 5px;
    transform: translate(20px);
    animation: point 2s infinite linear;
}
.point8{
    width: 15px;
    height: 15px;
    transform: translate(10px);
    animation: point 1s infinite linear;
}
.point9{
    width: 3px;
    height: 35px;
    transform: translate(10px);
    animation: point 3s infinite linear;
}
.point10{
    width: 15px;
    height: 5px;
    transform: translate(30px);
    animation: point 2s infinite linear;
}
.point11{
    width: 15px;
    height: 15px;
    transform: translate(20px);
    animation: point 2.5s infinite linear;
}
.point12{
    width: 15px;
    height: 15px;
    transform: translate(20px);
    animation: point 2.5s infinite linear;
}

@keyframes point{
    0%{
        top: 400px;
    }
    100%{
        top: 120px;
    }

}